/*.image {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    margin: 2rem;*/
/*}*/

.card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-wrapper{
    border: 1px solid #eee;
}
