.App {
  text-align: center;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.aside {
  grid-area: aside;
}

.footer {
  grid-area: footer;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 11fr;
  grid-template-areas:
      "header header"
      "aside content "
      "footer footer"
}

.container {
  width: 100%;
  max-width: 100%;
  color: #eee;
}

.content {
  min-height: calc(100vh - 132px);
  padding: 1.5rem 0;
  color: #eee;
}

@media (max-width: 800px) {
  .wrapper {
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
          "header header"
          "aside content"
          "footer footer"
  }

  .content {
    min-height: calc(100vh - 126px);
    padding: 1.5rem 0;
  }
}

@media (max-width: 500px) {
  .wrapper {
    grid-template-columns: 3fr;
    grid-template-areas:
          "header header"
          "aside aside"
          "content content"
          "footer footer";
  }

  .content {
    min-height: calc(100vh - 210px);
    padding: 1.5rem 0;
  }
}


input {
  color: #eee;
}

i {
  cursor: pointer;
}

.search-icon {
  top: 1rem;
  right: 0.1rem;
  color:  #eee;
}